html{
    box-sizing: border-box;
}

    *,
    *::before,
    *::after{
        box-sizing: inherit;
    }

body{
        font-family: "Roboto" ,"Arial";
        color: #51515;
        font-size: 18px;
        margin: 0 auto;
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix:after{
    content: "";
    clear: both;
    display: table;
}

.wrapper{
    width: 1112px;
    margin: 0 auto;

}

.navigation{
    width: 1112px;
    height: 26px;
    margin-top: 38px;
    margin-bottom: 30px;
}

.logo{
    float: left;
}

.list{
    float: right;
    width: 1034px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    min-width: 468px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.list-item a{
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    font-weight: 600;
}


.list-item{
    float: right;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 34px;
}

.list-item:nth-of-type(-n+1){
    margin-right: 0px;
}

.list-item a:hover{
    color: #1abc9c;
}

.list-item a:focus{
    color: #1abc9c;
}

.wrapper-slider{
    width: 1600px;
    margin: 0 auto;
}

.slider{
    width: 100%;
    height: 600px;
    position: relative;
    background-image:url(../img/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-slider{
    position: absolute;
    width: 100%;
    height: 600px;
}


.overlay-slider{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgb(115, 115, 115, 0.55);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.info-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
.slider:hover .overlay-slider{
    opacity: 0.55;
}
/*
.slider:focus .overlay-slider{
    opacity: 0.55;
}*/

.button-ctrl{
    width: 105px;
    height: 105px;
    color: #ffffff;
    font-size: 48px;
    background-color: #1abc9c;
    border-style: none;
    padding-left: 42px;

}

.button-ctrl:hover{
    opacity: 0.65;
}

.button-ctrl:focus{
    opacity: 0.65;
}

.button-prev{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}


.button-next{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.text-slider{
    top: 218px;
    left: 430px;
    width: 760px;
    min-height: 74px;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;  
}

.text2-slider{
    width: 500px;
    min-height: 42px;
     font-size: 24px;
     color: #ffffff;
    left: 430px;
    top: 298px;
 }

 .collection{
     background-color: #e9f0fd;
 }
/*
 .wrapper-new-collection{
     width: 1112px;
     margin-left: 244px;
 }
*/
h2{
    width: 1112px;
    min-height: 74px;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 48px;
    text-align: center;
    margin: 0px; 
   padding-top: 100px;
   
}

h2::after{
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: "";
    margin-left: 474px;
    margin-top: 30px;
    margin-bottom: 80px;
}



.card{
    position: relative;
    float: left;
    margin-right: 30px;
    margin-bottom: 100px;
}

.card:nth-of-type(4n){
    margin-right: 0px;
}

.card:hover .card-name{
    background-color: #1abc9c;
}
.card:focus .card-name{
    background-color: #1abc9c;
}

.card-image{
    width: 255px;
    height: 282px;
}

.card-name{
    float: left;
    width: 80%;
    background-color: #323232;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
}

.card-name p{
    margin: 5px auto;
}


.card-price{
    float: right;
    width: 20%;
    background-color: #8c8c8c;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
}

.card-price p{
    margin: 5px auto;
}

.card:hover .card-price{
    background-color: #7fd9c7;
}

.card:focus .card-price{
    background-color: #7fd9c7;
}

.collection{
    background-color: #e9f0fd;
    width: 100%;
}

.overlay{
    position: absolute;
    width: 235px;
    height: 261px;
    background-color: rgb(115, 115, 115, 0.55);
    top: 12px;
    left: 12px;
    opacity: 0;
}

.icons{
    position: absolute;
    width: 255px;
    height: 355px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}


.icon{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255, 0);
    border: rgb(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.icon1{
    position: absolute;
    top: 90px;
    left: 46px;
}
.icon2{
    top: 90px;
    left: 105px;
}
.icon3{
    top: 90px;
    left: 161px;
}

.icon-basket{
    position: absolute;
    height: 50px;
    width: 168px;
    padding-left: 12px;
    padding-right: 16px;
    background-color: rgb(50, 50, 50);
    border: rgb(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    left: 46px;
    top: 148px;
    cursor: pointer;
}
.icon-image-basket{
    width: 34px;
    height: 34px;
    float: left;
}

.text-button{
    position: absolute;
    left: 54px;
    bottom: 18px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

}


/*

.text-icon-basket{
    float: left;
}*/
/*
.icon-basket::before{
    content: url(img/04.png);
    margin-right: 18px;
}*/

.icon:hover{
   background: #1abc9c;
}

.icon:focus{
    background: #1abc9c;
 }

.card:hover .overlay{
    opacity: 0.55;
}

.card:focus .overlay{
    opacity: 0.55;
}

.card:hover .icons{
    opacity: 1;
}

footer{
       
}

.podval{
    color: #ffffff;
    font-size: 16px;
    width: 1112px;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 38px;
    background-color:#323232;
}

.podval:hover{
    color: #46bfa9;
}

.podval:focus{
    color: #46bfa9;
}